/* CSS Document */
.thumb {
	width: 64px;
	height: 64px;
}
tbody > tr {
    cursor: pointer;
}
td {
	vertical-align: middle !important;
}

.zero-clipboard {
	display: block;
	position: relative;
}
.btn-clipboard {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	display: block;
	padding: 5px 8px;
	font-size: 12px;
	color: #777;
	cursor: pointer;
	background-color: #fff;
	border: 1px solid #e1e1e8;
	border-radius: 0 4px 0 4px;
}

#footer {
	bottom: 0;
	width: 100%;
	background: #e7e7e7;
}
#footer p {
	margin: 0;
	padding: 30px;
}