<?xml version="1.0" encoding="utf-8"?>

<gallery>

	<category name="Nei">
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/T/Tahsan/Nei/1%20-%20Tahsan%20-%20Nei%20(music.com.bd).mp3"><![CDATA[Nei<br><font color="#666666">Tahsan  |  Album "Nei"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/T/Tahsan/Nei/2%20-%20Tahsan%20-%20Bondhon%20(music.com.bd).mp3"><![CDATA[Bondhon<br><font color="#666666">Tahsan  |  Album "Nei"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/T/Tahsan/Nei/3%20-%20Tahsan%20-%20Porimiti%20(music.com.bd).mp3"><![CDATA[Porimiti<br><font color="#666666">Tahsan  |  Album "Nei"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/T/Tahsan/Nei/4%20-%20Tahsan%20-%20Bhulte%20Parbena%20(music.com.bd).mp3"><![CDATA[Bhulte Parbena<br><font color="#666666">Tahsan  |  Album "Nei"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/T/Tahsan/Nei/5%20-%20Tahsan%20-%20Bangladesh%20(music.com.bd).mp3"><![CDATA[Bangladesh<br><font color="#666666">Tahsan  |  Album "Nei"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/T/Tahsan/Nei/6%20-%20Tahsan%20-%20Pathorer%20Golpokar%20(music.com.bd).mp3"><![CDATA[Pathorer Golpokar<br><font color="#666666">Tahsan  |  Album "Nei"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/T/Tahsan/Nei/7%20-%20Tahsan%20-%20Jibikar%20Khoje%20(music.com.bd).mp3"><![CDATA[Jibikar Khoje<br><font color="#666666">Tahsan  |  Album "Nei"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/T/Tahsan/Nei/8%20-%20Tahsan%20-%20Jhumdupure%20(music.com.bd).mp3"><![CDATA[Jhumdupure<br><font color="#666666">Tahsan  |  Album "Nei"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/T/Tahsan/Nei/9%20-%20Tahsan%20-%20Attohonon%20(music.com.bd).mp3"><![CDATA[Attohonon<br><font color="#666666">Tahsan  |  Album "Nei"</font>]]></item>
		<item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/T/Tahsan/Nei/10%20-%20Tahsan%20-%20Mutho%20(music.com.bd).mp3"><![CDATA[Mutho<br><font color="#666666">Tahsan  |  Album "Nei"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/T/Tahsan/Nei/11%20-%20Tahsan%20-%20Shamprodaik%20(music.com.bd).mp3"><![CDATA[Shamprodaik<br><font color="#666666">Tahsan  |  Album "Nei"</font>]]></item>
	</category>
	
</gallery>