<?xml version="1.0" encoding="utf-8"?>

<gallery>

	<category name="Boka Manushta">
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/01%20-%20Aurthohin%20-%20Gaanwala%20(music.com.bd).mp3"><![CDATA[Gaanwala<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/02%20-%20Aurthohin%20-%20Ghum%20Ashena%20(music.com.bd).mp3"><![CDATA[Ghum Ashena<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/03%20-%20Aurthohin%20-%20Oviman%20(music.com.bd).mp3"><![CDATA[Oviman<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/04%20-%20Aurthohin%20-%20Porajoy%20(music.com.bd).mp3"><![CDATA[Porajoy<br><font color="#666666">Artist_Name  |  Album "Boka Manushta"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/05%20-%20Aurthohin%20-%20Jhor%20(music.com.bd).mp3"><![CDATA[Jhor<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/06%20-%20Aurthohin%20-%20Ke%20(music.com.bd).mp3"><![CDATA[Ke<br><font color="#666666">Aurthohin |  Album "Boka Manushta"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/07%20-%20Aurthohin%20-%20Amar%20Golpo%20(music.com.bd).mp3"><![CDATA[Amar Golpo<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/08%20-%20Aurthohin%20-%20Ghumparani%20Gaan%20(music.com.bd).mp3"><![CDATA[Ghumparani Gaan<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
	    <item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/09%20-%20Aurthohin%20-%20Protigga%20(music.com.bd).mp3"><![CDATA[Protigga<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
		<item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/10%20-%20Aurthohin%20-%20Shohor%20(music.com.bd).mp3"><![CDATA[Shohor<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
		<item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/11%20-%20Aurthohin%20-%20Boka%20Manushta%20O%20Ek%20Shurer%20Gaan%20(music.com.bd).mp3"><![CDATA[Boka Manushta O Ek Shurer Gaan<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
		<item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/12%20-%20Aurthohin%20-%20Brishti%20(music.com.bd).mp3"><![CDATA[Brishti<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
		<item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/13%20-%20Aurthohin%20-%20Ditio%20Jibon%20(music.com.bd).mp3"><![CDATA[Ditio Jibon<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
		<item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/14%20-%20Aurthohin%20-%20Tobu%20O%20(music.com.bd).mp3"><![CDATA[Tobu O<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
		<item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/15%20-%20Aurthohin%20-%20Fulgulo%20Shob%20Gelo%20Kothai%20(music.com.bd).mp3"><![CDATA[Fulgulo Shob Gelo Kothai<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
		<item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/16%20-%20Aurthohin%20-%20Nir%20(music.com.bd).mp3"><![CDATA[Nir<br><font color="#666666">Aurthohin  |  Album "Boka Manushta"</font>]]></item>
		<item thumbPath="thumbs/image2.jpg" mp3Path="http://music-com-bd.org/Music/A/Aurthohin/Boka%20Manushta/17%20-%20Aurthohin%20-%20Shesh%20(music.com.bd).mp3"><![CDATA[Shesh<br><font color="#666666">Aurthohin |  Album "Boka Manushta"</font>]]></item>
	</category>
	
</gallery>